Page no.
<%= @page.page_number %>

<% if @page.picture.attached? %>
  <%= image_tag @page.picture %>
<% end %>

<p>
  <%= @page.chinese %>
</p>

<p>
  <%= @page.pinyin %>
</p>

<p>
  <%= @page.english %>
</p>

<% if Page.exists?(page_number: @page.page_number - 1) %>
  <%= link_to 'Prev', page_path(@page.page_number - 1) %>
<% end %>

<% if Page.exists?(page_number: @page.page_number + 1) %>
  <%= link_to 'Next', page_path(@page.page_number + 1) %>
<% end %>

<%= link_to 'Back', book_path(@page.book) %>