<%= stylesheet_link_tag 'pages' %>

<div id="div-image-wrapper">
  <% if @page.picture.attached? %>

    <% if @page.previous_page.present? %>
      <%= link_to @page.previous_page, id: "img-prev-link" do %>
        <div id="img-prev"></div>
      <% end %>
    <% end %>

    <%= image_tag @page.picture, class: "img-fluid", id: "img-page" %>

    <% if @page.next_page.present? %>
      <%= link_to @page.next_page, id: "img-next-link" do %>
        <div id="img-next"></div>
      <% end %>
    <% end %>

  <% end %>
</div>

<p><%= @page.page_number %></p>

<p><%= @page.chinese %></p>

<p><%= @page.pinyin %></p>

<p><%= @page.english %></p>

<%= link_to 'Back', book_path(@page.book) %>



