<p>
  <strong>Series Number:</strong>
  <%= book.series_number %>
</p>

<p>
  <strong>Year Published:</strong>
  <%= book.year_published %>
</p>

<p>
  <%#= link_to 'Show Book', series_book_path(book.series, book) %>
  <%= link_to 'Show Book', book_path(book) %>
</p>

<p>
  <%= link_to 'Destroy Book', book,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>

<p>
  <%= link_to 'Edit Book', edit_book_path(book) %>
</p>
