<%#= form_with(model: [ @series, @series.books.build ], local: true) do |form| %>
<%= form_with(model: [ @series, @series.books.build ], local: true) do |form| %>
    <!--TODO: Fix this so it populates the edit-->

<!--  This adds a form that creates a new book by calling the BooksController create
action. The form_with call here uses an array, which will build a nested route, such
as /series/1/books.-->

  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:
      </h2>
      <ul>
        <% @series.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :series_number %><br>
    <%= form.number_field :series_number %>
  </p>
  <p>
    <%= form.label :year_published %><br>
    <%= form.number_field :year_published %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>