<%= form_with(model: model, local: true) do |form| %>
  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:
      </h2>
      <ul>
        <% @series.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :series_number %><br>
    <%= form.number_field :series_number %>
  </p>
  <p>
    <%= form.label :year_published %><br>
    <%= form.number_field :year_published %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>