<%= form_with model: @book, local: true do |form| %>

  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :book_series %><br>
    <%= form.text_field :book_series %>
  </p>

  <p>
    <%= form.label :series_number %><br>
    <%= form.text_field :series_number %>
  </p>
  
  <p>
    <%= form.label :year_published %><br>
    <%= form.text_field :year_published, in: 0..9999, maxlength: 4 %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>