<%= form_with(model: [ @series, @series.books.build ], local: true) do |form| %>
  <p>
    <%= form.label :series_number %><br>
    <%= form.text_field :series_number %>
  </p>
  <p>
    <%= form.label :year_published %><br>
    <%= form.text_area :year_published %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>