<h1><%= @book.series.title %> | Book: <%= @book.book_number %> | Published: <%= @book.year_published %></h1>

<p><%= link_to 'Add a page', new_book_page_path(@book) %></p>

<div class="container">
  <div class="row">
    <% @pages.each do |page| %>
      <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card">
          <%= link_to page_path(page) do %>

            <% if page.picture.attached? %>
              <%= image_tag page.picture, class: "card-img-top img-fluid"%>
            <% end %>

            <div class="card-body mt-2 p-0">
              <h5 class="card-title text-center">Page <%= page.page_number %></h5>
            </div>

          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--TODO: Add admin links for: -->
<%#= link_to 'Edit', edit_page_path(page) %>
<%#= link_to 'Destroy', page_path(page), method: :delete, data: { confirm: 'Are you sure?' } %>

<p><%= link_to "Back", series_path(@book.series) %></p>